#goods{
    
}

.good-item{
    width: 200px;
    height: 330px;
    border: 1px solid black;
    text-align: center;
    margin: 10px;
    float: left;
}

.good-item button{
    display: block;
    margin: 20px auto;
}

#clear-cart{
    
}

#cart{
    text-align: center;
}

#cart table {
    border-collapse: collapse;
    display: inline-block;
    margin-top: 40px;

}

#cart table td, #cart table th{
    border: 1px solid black;
    padding: 8px;
    background: #ccc;
    font-size: 20px;
}

#cart table td.count{
    padding-left: 40px;
}

.count {
    position: relative;
    text-align: left;    
}



.plus-button{
    position: absolute;
    top: 9px;
    right: 30px;
}

.minus-button{
    position: absolute;
    top: 9px;
    right: 5px;
}