
*{
    text-align: center;
}

a{
    display: block;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
}

#cart{
    position: relative;
}

#header{
    height: 110px;
}

#basket {
    border-radius: 50%;
    display: block;
    width: 100px;
    position: absolute;
    right: 25px;
}

#counter{
    position: absolute;
    background: green;
    font-weight: 900;
    font-size: 30px;
    width: 30px;
    padding: 8px;
    border-radius: 50%;
    line-height: 30px;
    top: 5px;
    right: 0;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.good-item{
    width: 200px;
    height: 330px;
    border: 1px solid black;
    text-align: center;
    margin: 10px;
    display: inline-block;
}

.good-item button{
    display: block;
    margin: 20px auto;
}

#cart{
    text-align: center;
}

#cart table {
    border-collapse: collapse;
    display: inline-block;
    margin-top: 40px;
}

#cart table td, #cart table th{
    border: 1px solid black;
    padding: 8px;
    background: #ccc;
    font-size: 20px;
}

#cart table td.count{
    padding-left: 40px;
}

.count {
    position: relative;
    text-align: left;    
}


.plus-button{
    position: absolute;
    top: 9px;
    right: 30px;
}

.minus-button{
    position: absolute;
    top: 9px;
    right: 5px;
}

@media screen and (max-width: 1220px){
    .container{
        width: 95%;
    }
}

@media screen and (max-width: 600px){
    
    #cart table thead {
        display: none;
    }
    
    #cart table td.count {
        padding-left: 8px;
    }
    
    #cart table{
        width: 100%;
        display: table;
    }
    
    #cart table tr {
        border–bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 15px;
    }
    #cart table td {
        border–bottom: 1px solid #ddd;
        display: block;
        text-align: right;
    }
    #cart table td:before {
        content: attr(aria-label);
        font-weight: 700;
        float: left;
    }
    
    .plus-button {
        top: 2px;
        font-size: 25px;
        padding: 1px 7px;
    }
    
    .plus-button{
        right: 60px;
    }
    
    .minus-button {
        right: 7px;
        top: 2px;
        font-size: 27px;
        padding: 1px 11px 4px;
        line-height: 26px;
    }
    
    .delete-button {
        padding: 10px;
        font-size: 20px;
        font-weight: 600;
    }
}

